{% extends "base.html" %} {%block title%} Employee List{%endblock%}
 {%block content%} 
 <div class="d-flex justify-content-between mb-3">
    <h2>Employee List</h2>
    <a class="btn btn-primary" href={%url 'create' %}>Create Employee</a>
 </div>


 <table class="table table-bordered">
  <thead class="table-dark">
    <tr>
        <th>#</th>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Employee Email</th>
        <th>Employee Contact</th>
        <th>Actions</th>
    </tr>
  </thead>
  <tbody>

    {% if lists %}
    {% for employee in lists %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.contact}}</td>
        <td>

            <a href="{% url 'update' employee.id %}" class="btn btn-success btn-sm">Edit</a>
            <a href="{% url 'delete' employee.id %}" class="btn btn-success btn-sm">Delete</a>
        </td>

    </tr>
    {%endfor%}{%else%}
    <tr>
    <td colspan="6"class="text-center">No employee found ...</td>
    </tr>
    {%endif%}

{% endblock %}
